.logo{
 height: 80px;
}
/* .social-icons{
 display: grid;
  margin-top: 10px;
  width: 20px;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  font-size: 1.5rem;
  color: var(--clr-grey-1);
  -webkit-transition: var(--transition);
  transition: var(--transition);
} */
li{
 list-style: none;
}
.photo{
 padding: 10px 5px 10px 5px;
 height: 250px;
 margin-left: 40px;
 border: 1px solid gray;
 border-radius: 20%;
}
.skills{
  margin-top: 150px;
  margin-bottom: 50px;
}
.App{
  background-color: #FFFAEB;
}