.logo{
 height: 80px;
}
/* .social-icons{
 display: grid;
  margin-top: 10px;
  width: 20px;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  font-size: 1.5rem;
  color: var(--clr-grey-1);
  -webkit-transition: var(--transition);
  transition: var(--transition);
} */
li{
 list-style: none;
}
.photo{
 padding: 10px 5px 10px 5px;
 height: 250px;
 margin-left: 40px;
 border: 1px solid gray;
 border-radius: 20%;
}
.skills{
  padding-top: 80px;
  margin-top: 150px;
  margin-bottom: 50px;
}
.App{
  background-color: #FFFAEB;
}



:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(43, 86%, 17%);
  --clr-primary-2: hsl(43, 77%, 27%);
  --clr-primary-3: hsl(43, 72%, 37%);
  --clr-primary-4: hsl(42, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(42, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(43, 89%, 70%);
  --clr-primary-7: hsl(43, 90%, 76%);
  --clr-primary-8: hsl(45, 86%, 81%);
  --clr-primary-9: hsl(45, 90%, 88%);
  --clr-primary-10: hsl(45, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}






/* .btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
} */
/* .btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-7);
} */
/* section */


.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}


.section-title {
  margin-bottom: 5rem;
  text-align: center;
}
.section{
margin-bottom: 100px;
}

.section-title{
  padding-top: 100px;
}



/*
=============== 
Timeline
===============
*/
.timeline-center {
  width: 80vw;
  max-width: 40rem;
}
.timeline-item {
  border-top: 2px dashed var(--clr-primary-5);
  margin: 0;
  padding: 4rem 2rem;
  position: relative;
}
.timeline p {
  margin-bottom: 0;
}
.timeline-item:nth-child(even) {
  border-left: 2px dashed var(--clr-primary-5);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;

  margin-right: 2rem;
  padding-right: 0;
}
.timeline-item:nth-child(odd) {
  border-right: 2px dashed var(--clr-primary-5);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  margin-left: 2rem;
  padding-left: 0;
}
.timeline-item:first-child {
  border-top: 0;
  border-top-right-radius: 0;
}
.timeline-item:last-child {
  border-bottom-left-radius: 0;
}
.number {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-bottom: 0;
  background: var(--clr-primary-5);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: var(--clr-primary-1);
  font-weight: bold;
}
.timeline-item:nth-child(even) .number {
  left: 0;
}
.timeline-item:nth-child(odd) .number {
  right: 0;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}
/*
=============== 
Blog
===============
*/
.blog {
  background: var(--clr-grey-10);
}
.card {
  height: 27rem;
  position: relative;
  /* talk later */
  -webkit-perspective: 1500px;
  perspective: 1500px;
}
.card-side {
  -webkit-transition: all 2s linear;
  transition: all 2s linear;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--radius);
  -webkit-transform: translate3d(0, 0, 0);
  visibility: visible;
}
.card-front {
  background: var(--clr-white);
}
.card-back {
  background: var(--clr-primary-10);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  display: grid;
  place-items: center;
}
.card:hover .card-front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.card:hover .card-back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}
/* rest of the styles */
.card-info {
  padding: 1rem 1.5rem;
}
.card-front img {
  height: 13rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}
.card-footer {
  display: grid;
  grid-template-columns: auto 1fr;
  -webkit-box-align: center;
  align-items: center;
}
.card-footer img {
  width: 2rem;
  height: 2rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}
.card-footer p {
  margin-bottom: 0;
  text-transform: uppercase;
  justify-self: end;
  color: var(--clr-primary-5);
  font-size: 0.85rem;
}
.blog-center {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 3rem 1rem;
}
/*
=============== 
Footer
===============
*/


.footer p {
  font-size: 1.25rem;
  text-transform: capitalize;
}
.footer {
  height: 80px;
  padding-bottom: 2rem;
  background: #FFFAEB;

 
}

.footer p {
  text-transform: capitalize;
}

.contact{
  margin-top: 50px;
  display: flex;
  justify-content:center;
  min-height: 80vh;
  max-width: 300vh;
}
.baslik{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.baslikabout{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.section-center {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  /* width: 90vw; */
  margin: 50px auto;
  /* max-width: 1170px; */
  min-height: 80vh;
}
.page-info {
  max-width: 700px;
}
/* .Certificate{
  margin-top: 5%;
  min-height: 80vh;
  
} */
.Certificates{
  min-height: 100vh;

}
.Certificate{
  margin-top: 8em;

}

.card:hover{
  
  border: 1px solid rgb(250, 244, 244);
   border-radius: 10%;
   background-color: white;
   opacity: 0.9;
   
}

@media only screen and (max-width: 770px) {
    .Certificate {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    .card{
      margin-top: 2em;
    }
}
.card-body{
  overflow-wrap: break-word;
}


